.DS_Store
node_modules/*
npm-debug.log
npm-debug.log.*
tree-map/!content/images/blank.jpg
tree-map/!content/maps/blank.jpg
tree-map/content/images/*
tree-map/content/maps/*
tree-map/db/*.sqlite
tree-map/dist/*
tree-map/server/.env
tree-map/serverconfig/*
tree-map/vendor/
